# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Angular
/dist
/tmp
/out-tsc
/bazel-out

# MongoDB
*.mongo
*.mongod
*.mongolock
*.wt
*.0000
*.bson
*.ns
*.lock

# Express
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
